.login {
  height: 100%;
  background-color: #ffffff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  :global {
    .ant-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .ant-input, .ant-btn {
      height: 36px;
    }
    .ant-form-item {
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
  .logo {
    margin-bottom: 40px;
    text-align: center;
  }

  .forgetPassword {
    float: right;
  }
}