.language {
  &__icon {
    color: #999999;
    font-size: 20px;
  }
}
.menu {
  :global(.anticon) {
    margin-right: 8px;
  }
  :global(.ant-dropdown-menu-item) {
    min-width: 160px;
  }
}

.dropDown {
  vertical-align: top;
  cursor: pointer;
  > i {
    svg {
      position: relative;
      top: -1px;
    }
  }
}