
.breadcrumbBox {
  margin: 24px 24px -17px;
}

.contentBox {
  margin: 15px;
  flex: 1;
  position: relative;
  // background-color: #ffffff;
}

.scrollbarBox {
  position: absolute!important;
  & > * {
    display: flex;
    flex-direction: column;
  }
}

:global {
  .basicLayout {
    .ant-pro-basicLayout-content.ant-layout-content {
      // display: flex;
      // flex-direction: column;
      margin: 0px!important;
      position: relative;
    }
    .ant-pro-page-header-wrap-page-header-warp {
      background-color: transparent;
    }
    .ant-page-header {
      padding-bottom: 10px;
    }
  }
}