.userLayout {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F8F8F8;
  // If you need background-image, you can
  // background-image: url('../assets/img/xxx') 50% no-repeat;
  // background-size: cover;

  .formBox {
    width: 60%;
    min-width: 900px;
    max-width: 1000px;
    height: 400px;
    border-radius: 6px;
    box-shadow: 0 12px 20px #d8e0e6;
    overflow: hidden;
    z-index: 1;
    background-color: #ffffff;
    &__img, &__form {
      height: 100%;
    }
    &__img {
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  
  @media  screen and (max-width: 992px) {
    .formBox {
      width: 50%;
      min-width: 400px;
    }
  }

  @media  screen and (max-width: 576px) {
    .animateBox {
      width: 100%;
      height: 100%;
    }
    .formBox {
      box-shadow: none;
      width: 100%;
      height: 100%;
      min-width: 100%;
      border-radius: 0px;
    }
  }

}

.language {
  position: fixed;
  top: 20px;
  right: 20px;
}
